*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul, ol {
    list-style-type: none;
}


.all {
    max-width: 1440px;
    font-family: 'Raleway';
    
}
main{
    background-color: #e9e9e9;

}header{
    display: flex;
    height: 115px;
    width: 1240px;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
}

header #cabecalho{
    display: flex;
    
    gap: 15px;
    align-items: center;
    margin-left: 100px;
}

header #cabecalho input{
    background:#F5F5F5;
    display: flex;
    width: 393px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;

}

header button{
    width: 150px;
    padding: 16px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    margin-right: 100px;
}

#login{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login p{
    font-size: 18px;
}

#login input{
    width: 400px;
    height: 60px;
    margin-bottom: 22px;
    margin-top: 10px;
    border: none;
}

#login a{
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 60px;
    background-color: #2A7AE4;
    color: #fffefe;
    border: none;
}

#formulario{
    background-color: #c8c8c8;
    width: 100%;
    height: 400px;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#formulario #logo{
    display: flex;
    align-items: center;
}

#formulario #links__form{
    display: flex;
    width: 180px;
    height: 234px;
    flex-direction: column;
    
}

#formulario #links__form a{
    text-decoration: none;
    margin-bottom: 22px;
    color: #181818;
}

#formulario #contato__form{
    
    width: 560px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#formulario #contato__form .input__nome{
    width: 500px;
    height: 40px;
    

}

#formulario #contato__form .input__mensagem{
    width: 500px;
    height: 66px;
}

#formulario #contato__form a{
    width: 150px;
    padding: 16px;
    font-size: 14px;
    color: #c8c8c8;
    text-decoration: none;
    background-color: #2A7AE4;
    margin-right: 100px;
    border: none;
    

}   

#formulario #contato__form p{
    
    margin-top: 15px;
}


footer {
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer > div { 
    text-align: center;
}
 